<div class="container">
  <mat-toolbar class="custom-toolbar">
    <button
      class="btn-rojo"
      mat-Button
      [matMenuTriggerFor]="menuUsuarios"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>person</mat-icon>Usuario
    </button>
    <button
      class="btn-rojo"
      mat-Button
      [matMenuTriggerFor]="menuBicicletas"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon> directions_bike</mat-icon>Bicicleta
    </button>
    <button
      class="btn-rojo"
      mat-Button
      routerLink="/sesion/inicio"
      aria-label="Ir a inicio de sesión"
    >
      <mat-icon>login</mat-icon>Log in
    </button>
  </mat-toolbar>

  <mat-menu #menuUsuarios="matMenu">
    <button mat-menu-item routerLink="/users"><mat-icon>list</mat-icon>Listar</button>
    <button mat-menu-item routerLink="/users/news"><mat-icon>add</mat-icon>Registrar</button>
    <button mat-menu-item routerLink="/users/searchs"><mat-icon>search</mat-icon>Buscar</button>
  </mat-menu>
  <mat-menu #menuBicicletas="matMenu">
    <button mat-menu-item routerLink="/bicicleta"><mat-icon>list</mat-icon>Listar</button>
    <button mat-menu-item routerLink="/bicicleta/news"><mat-icon>add</mat-icon>Registrar</button>
    <button mat-menu-item routerLink="/bicicleta/searchs"><mat-icon>search</mat-icon>Buscar</button>
  </mat-menu>
  
</div>

