<div class="bike-card-grid">
  <div style="text-align: center; margin: 5%">
    <h1>Lista de bicicletas</h1>
  </div>

  <mat-card class="example-card" appearance="outlined" *ngFor="let bici of bicicletas">

    <mat-card-header>
      <mat-card-title>{{ bici.marcaBicicleta }} - {{ bici.tipoBicicleta }}</mat-card-title>
      <mat-card-subtitle>{{ bici.colorBicicleta }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="bici.fotoBicicleta" alt="Foto bicicleta" />

    <mat-card-content>
      <p>Precio: S/ {{ bici.precioBicicleta }}</p>
      <p *ngIf="bici.disponible">Disponible</p>
      <p *ngIf="!bici.disponible">No disponible</p>
    </mat-card-content>

    <mat-card-actions>

      <!-- BOTONES PARA CLIENTE -->
      <button mat-button color="primary" *ngIf="esCliente()" (click)="verMasInfo(bici)">
        Ver más información
      </button>

      <button mat-button color="accent" *ngIf="esCliente()" >
        Alquilar
      </button>

      <!-- BOTONES PARA SUMINISTRADOR -->
      <button mat-button color="warn" *ngIf="esSuministrador()">
        Editar
      </button>

      <button mat-button color="warn" *ngIf="esSuministrador()" (click)="eliminar(bici.idBicicleta)">
        Eliminar
      </button>

    </mat-card-actions>

  </mat-card>

</div>
