mat-form-field {
    width: 50%;
}
  button[mat-raised-button] {
 background-color:rgb(251, 140, 0);
 color: white;
 border: none;
 padding: 0.5rem 1.25rem;
 font-size: 1.1rem;
 border-radius: 0.375rem;  
 cursor: pointer;
 transition: background-color 0.3s ease;
 width: 50%;  
}